fastapi==0.104.1
uvicorn==0.23.2
atlassian-python-api==3.41.3
langchain==0.0.333
langchainhub==0.1.13
rlPyCairo==0.3.0
pytesseract==0.3.10
Pillow==10.1.0
reportlab==4.0.7
svglib==1.5.1
openai==1.2.2
requests==2.31.0
tiktoken==0.5.1
python-dotenv==1.0.0
beautifulsoup4==4.12.2
#sentence-transformers==0.3.0 # this adds more than 5GB to the docker image. don't install it.
langchain-googledrive==0.0.329
unstructured==0.11.2
pinecone-client==2.2.4
slack_sdk==3.26.1
psycopg2-binary==2.9.9
SQLAlchemy==2.0.23
sqlalchemy-utils==0.41.1
alembic==1.13.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6