fastapi==0.104.1
uvicorn==0.23.2
llama-index==0.10.18
llama-index-vector-stores-pinecone==0.1.4
llama-index-storage-docstore-redis==0.1.2
llama-index-readers-google==0.2.2
pinecone-client==3.1.0
pinecone-client[grpc]==3.1.0
rlPyCairo==0.3.0
pytesseract==0.3.10
Pillow==10.1.0
reportlab==4.0.7
svglib==1.5.1
openai==1.13.3
requests==2.31.0
tiktoken==0.6.0
python-dotenv==1.0.0
beautifulsoup4>=4.12,<5
#sentence-transformers==0.3.0 # this adds more than 5GB to the docker image. don't install it.
slack_sdk==3.26.1
slack_bolt==1.18.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.23
sqlalchemy-json==0.7.0
sqlalchemy-utils==0.41.1
alembic==1.13.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
pydantic==1.10.14
boto3==1.34.11
aws-secretsmanager-caching==1.1.1.5
python-slugify==8.0.4

#connectors
pyairtable==2.2.2
docx2txt==0.8
atlassian-python-api==3.41.3
# Used for parsing PDFs, using semantic chunker text splitter
pypdf==4.1.0
rapidocr-onnxruntime==1.3.14

# Queues
celery==5.3.6 # celery-director will install 5.2.6 regardless


# deprecated
langchain==0.1.11
langchainhub==0.1.13
langchain-openai==0.0.8 # delete 
langchain-pinecone==0.0.3 # delete
langchain-experimental==0.0.53 # Semantic Chunk Parser #delete
langchain-text-splitters==0.0.1
langchain-googledrive==0.0.329
unstructured==0.11.2