API_HOST=http://localhost:8000

# Used for authentication and storing sessions in database
AUTH_SECRET=
NEXTAUTH_URL=https://localhost:3000
DATABASE_HOST=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

NEXT_PUBLIC_GOOGLE_CLOUD_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLOUD_API_KEY=

