ENV=dev
API_HOST=http://omo_server_1

DB_HOST=omo_db_1
DB_NAME=omoai
DB_USER=omoai
DB_PASS=CHANGE_ME!
DB_PORT=5432
POSTGRES_URI="postgresql://$DB_HOST:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME" 

# Used for AuthJS jwt/jwe tokens
# Generate with `npx auth secret`
AUTH_SECRET=

LLM=openai
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-2024-05-13
OPENAI_EMBEDDING_MODEL=text-embedding-3-large

REDIS_HOST=omo_redis_1
REDIS_PORT=6379
REDIS_URL="redis://$REDIS_HOST:$REDIS_PORT"

CELERY_BROKER="$REDIS_URL/0"
CELERY_BACKEND=$CELERY_BROKER

# https://stackoverflow.com/questions/74716129/slack-bolt-python-although-the-app-should-be-installed-into-this-workspace-th

SLACK_SIGNING_SECRET=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

# Tokens from OmoAI app
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=

GOOGLE_ACCOUNT_FILE=
GOOGLE_DELEGATE_EMAIL=
GOOGLE_CLIENT_ID=

# AWS IAM user
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

PINECONE_API_KEY=
